body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.pic {
    width: 70vw;
    margin-left: 50vw;
    transform: translateX(-50%);
}

.quiz {
    text-align: center;
    padding: 100px;
    color: white;
}

.links {
    margin-top: 2rem;
    text-align: center;
}

.links p {
    margin-bottom: 2.5rem;
}

.links p a {
    padding: 10px;
    border-radius: 1rem 0rem 1rem 0rem;
    background-color: rgb(255, 203, 148);
    font-size: larger;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.links p a:hover {
    background-color: rgb(255, 228, 198);
}

