body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

.pic {
    height: 50vh;
    margin-left: 50vw;
    transform: translateX(-50%);
}

p, button {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.speech {
    margin-top: 5vh;
    text-align: center;
    color: rgb(184, 49, 0);
    width: 50vw;
    transform: translateX(50%);
}

.quiz {

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.links {
    margin-top: 2rem;
    text-align: center;
}

.links * {
    margin-bottom: 1rem;
}

button {
    padding: 10px;
    border-radius: 1rem 0rem 1rem 0rem;
    background-color: rgb(255, 203, 148);
    color: black;
    text-decoration: none;
    transition: 0.3s;
    margin: 0.5rem;
    display:unset
}

button:hover {
    background-color: rgb(255, 228, 198);
    cursor: pointer;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}